# Rename this file to <filename>.tfvars and fill in the values
# Run terraform command to specify using the tfvars file `terraform plan -var-file tf-state-backend.tfvars`
# Variables can also be set via environment variables

###########################################################
################## Global Settings ########################
# App name (loki, velero, etc...)
app = ["loki","velero"]
# -- Name of the EKS cluster
name = "my-cluster"
# -- Name of existing Terraform state bucket
state_bucket_name = "my-tfstate-backend-s3-bucket"
# -- Key path to Terraform state file within the bucket
# eks_state_key = "aws-eks/terraform.tfstate"
# -- Provision a private/internal load balancer for the admin ingress gateway, if false a public load balancer will be provisioned
force_destroy = false