name: Tag and Publish Package

on:
  push:
    branches:
      - main

jobs:
  tag-new-version:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: google-github-actions/release-please-action@v3
        with:
          command: manifest # use configs in release-please-config.json
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-package:
    permissions: write-all
  
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/defenseunicorns/build-harness/build-harness:2.0.39
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Zarf Package
        uses: ./.github/actions/create-zarf-package

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: dummy
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Zarf Package
        run: zarf package publish zarf-package-*.tar.zst oci://ghcr.io/defenseunicorns/terraform-packages
        timeout-minutes: 60
